extends layout

block content
  h1= title
  p Please enter your user code below
  form(name="submit-code", method="post")
    div.input
      input(type="text", name="code")
    div.actions
      input(type="submit", value="submit")
